@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bangers&family=Caprasimo&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Exo 2";
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
}
.innercontainer {
  row-gap: 3em;
  background-color: white;
  border-radius: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 22px;
}
.h3title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.create {
  background-color: rgba(0, 0, 255, 0.47);
  border: none;
  padding: 10px 22px;
  border-radius: 30px;
  color: white;
}
body {
  background-color: rgba(0, 0, 255, 0.47);
}
